a:focus, a:hover {
  text-decoration: none;
}

header h1 {
  color: #ffffff;
}

.card-welcome {
  background-color: #333;
  border-color: #333;
}

.card-space:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.card-space input[name="spaces-list-options"] {
  width: 18px;
  height: 18px;
}

.space-member-circle {
  width: 50px;
  height: 50px;
}

.space-created-by-circle {
  width: 25px;
  height: 25px;
}

/**
  * Gradients
  * Source: https://uigradients.com/
  **/

.gradient-ash {
  background: #606c88; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #606c88 , #3f4c6b); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #606c88 , #3f4c6b); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
